{% extends "base/content.html" %}

{% block class %} c {% endblock %}

{% block short %}

{% endblock %}

{% block title %}Arduino Traffic Lights{% endblock %}

{% block about %}
<p>
    <a class="block js-hover" href="https://github.com/JacobShirley95/arduino-traffic-lights">Github</a>
</p>

<h2>What it is</h2>
<p>
    As part of my Computer Science course and more specifically a module on Embedded Architecture
</p>
<p>ECollision has gone through many iterations over the years since I left sixth-form. It was firstly written in ES5 JavaScript,
    but I then decided to move over to CoffeeScript, as this has better support for a class syntax.
    It is currently being ported to the ES6 version of JavaScript, which is now on par with CoffeeScript in features.
of JavaScript from CoffeeScript.
</p>
{% endblock %}
