{% extends "base/content.html" %}

{% block class %} c {% endblock %}

{% block short %}
As part of my Computer Science course and more specifically a module on Embedded Architecture, I had to simulate a series of junctions
using the Arduino Microcomputer and IDE.
{% endblock %}

{% block title %}Arduino Traffic Lights{% endblock %}

{% block about %}
<p>
    <a class="block c-hover" href="https://github.com/JacobShirley95/arduino-traffic-lights">Github</a>
</p>

<h2>What it is</h2>
<p>
    As part of my Computer Science course and more specifically a module on Embedded Architecture, I had to simulate a series of junctions
    using the Arduino Microcomputer and IDE. The code is all written in C and is compiled and uploaded through the IDE to Arduino.
</p>
<p>
    Before the program is run, all the lights and/or buttons need to be connected to the Arduino on the ports specified in each program.
</p>
{% endblock %}
