{% extends "base/content.html" %}

{% block short %}
This is a website I made for my mum who works as a childminder.
{% endblock %}

{% block class %} html-css {% endblock %}

{% block title %} Christina Shirley {% endblock %}

{% block about %}
<p>
    <a class="block html-css-hover" href="http://christinashirley.co.uk">View site</a>
</p>

<p>This is a website I made for my mum who works as a childminder.</p>
<p>
    Designing this website I wanted to give a fun theme suited to young children.
    For this I used bright colours and interspersed pictures of the children or
    of things they had made, and a handwritten font.
</p>
{% endblock %}
