{% extends "base.html" %}

{% block demo %}

{% endblock %}

{% block sidebarClass %} js {% endblock %}

{% block description %}
<h2>ECollision</h2>
<p>
    <a class="block" href="http://212.56.108.16/ecollision/demos/demo-1">View demo</a>
    <a class="block" href="https://github.com/JacobShirley95/ecollision">GitHub</a>
</p>
<p>ECollision is a basic elastic/inelastic collision simulation library that I made for my final year A Level project.
It is designed to help students understand the laws of energy conservation and momentum by controlling the velocity and radius
of particles in the simulation.
</p>
<p>ECollision has gone through many iterations over the years since I left sixth-form. It was firstly written in ES5 JavaScript,
    but I then decided to move over to CoffeeScript, as this has better support for a class syntax.
    It is currently being ported to the ES6 version of JavaScript, which is now on par with CoffeeScript in features.
of JavaScript from CoffeeScript.
</p>
<p>The background of this portfolio site uses ECollision to simulation the particles
moving around the screen.
</p>
{% endblock %}
