{% extends "base/content.html" %}

{% block demo %}

{% endblock %}

{% block class %} js {% endblock %}

{% block title %}ECollision{% endblock %}

{% block about %}
<h2>What it is</h2>
<p>ECollision is a basic elastic/inelastic collision simulation library that I made for my final year A Level project.
It is designed to help students understand the laws of energy conservation and momentum by controlling the velocity and radius
of particles in the simulation.
</p>
<p>ECollision has gone through many iterations over the years since I left sixth-form. It was firstly written in ES5 JavaScript,
    but I then decided to move over to CoffeeScript, as this has better support for a class syntax.
    It is currently being ported to the ES6 version of JavaScript, which is now on par with CoffeeScript in features.
of JavaScript from CoffeeScript.
</p>
<h2>Uses</h2>
<p>The background of this portfolio site uses ECollision to simulate the particles
moving around the screen.
</p>
{% endblock %}
