{% extends "base/content.html" %}

{% block class %} js {% endblock %}

{% block short %}
ECollision is a basic elastic/inelastic collision simulation library that I made for my final year A Level project.
It is designed to help students understand the laws of energy conservation and momentum by controlling the velocity and radius
of particles in the simulation.
{% endblock %}

{% block title %}ECollision{% endblock %}

{% block about %}
<p>
    <a class="block js-hover" href="http://shirleykitts.com/jake/ecollision/demos/demo-1">View demo</a>
    <a class="block js-hover" href="https://github.com/JacobShirley95/ecollision">Github</a>
</p>

<h2>What it is</h2>
<p>ECollision is a basic elastic/inelastic collision simulation library that I made for my final year A Level project.
It is designed to help students understand the laws of energy conservation and momentum by controlling the velocity and radius
of particles in the simulation.
</p>
<p>ECollision has gone through many iterations over the years since I left sixth-form. It was firstly written in ES5 JavaScript,
    but I then decided to move over to CoffeeScript, as this has better support for a class syntax.
    It is currently being ported to the ES6 version of JavaScript, which is now on par with CoffeeScript in features.
</p>
{% endblock %}
