{% extends "base/list.html" %}

{% block demo %}

{% endblock %}

{% block description %}
<h2>Jacob Shirley</h2>
<p>
    Computer Science Student at the University of Brighton
</p>
<p>
    Interested in just about everything computer-related, I specialise in the Java and JavaScript programming languages.
</p>
<p>
    Displayed here are a list of my main projects, but over at my <a href="https://github.com/JacobShirley95">GitHub</a> page are many other smaller ones.
</p>
<p>
    <a class="block" href="https://github.com/JacobShirley95">GitHub</a>
</p>
{% endblock %}
