{% extends "base/content.html" %}

{% block demo %}

{% endblock %}

{% block class %} js {% endblock %}

{% block short %}
JS Game Engine is the start of a project to make it easier for myself and others to create JavaScript games. By bundling together many libraries
that are already out there, I wanted to provide a simple-to-use but powerful library of game components, without reinventing the wheel as much as possible.
{% endblock %}

{% block title %}
JS Game Engine
{% endblock %}

{% block about %}
<div class="dark carousel" data-visible=0>
    <img src="assets/templates/images/js-game-engine/screen1.png" />
</div>

<p>
    <a class="block js-hover" href="http://shirleykitts.com/jake/js-game-engine">View demo</a>
    <a class="block js-hover" href="https://github.com/JacobShirley95/js-game-engine">Github</a>
</p>

<h2>What it is</h2>
<p>
    JS Game Engine is the start of a project to make it easier for myself and others to create JavaScript games. By bundling together many libraries that are already out there, to support components of a game such as 3D rendering and physics,
    I wanted to provide a simple-to-use but powerful library of game components, without reinventing the wheel as much as possible.
</p>
<h2>The rationale</h2>

<p>
    JS Game Engine was started with the future direction of JavaScript in mind. From the outset I started writing it in ES6 in order to have the latest class syntax built available, allowing easier extensibility throughout the project.
</p>
<p>
    The idea for JS Game Engine originally came from a multiplayer jenga/dominoes idea, whereby many pieces in a 3D physics environment could be rearranged by anyone connected to the server. I imagined it as a sort of social experiment, to
    see how long it would take before someone decide to troll everyone and knock down someone's tower of bricks, or push over a whole load of dominoes that had been put up.
</p>
<p>
    This is why the main code in src/ also includes a "jenga.js" file, as a proof of concept.
</p>
<h2>Features</h2>
<p>
    <ul>
        <li>Game timers: RenderTimer, GameTimer, etc</li>
        <li>Three.js 3D rendering and ammo.js (bullet) physics support</li>
        <li>Netcode: a simple update queue, drawing updates from internal and external (server) sources</li>
        <li>Lockstep game engine, with more, less-specialised engine types to come</li>
    </ul>
</p>
{% endblock %}
