{% extends "base/content.html" %}

{% block short %}
This projects provides a foundation on which scripts can be created for Powerbot.
It is intended to only include very loose and generic classes which can be used to make a variety of tasks easier.
{% endblock %}

{% block class %} java {% endblock %}

{% block title %}Powerbot Script Base{% endblock %}

{% block about %}
<p>
    <a class="block java-hover" href="https://github.com/JacobShirley95/pb-script-base">Github</a>
</p>
<p>This projects provides a foundation on which scripts can be created for Powerbot.
    It is intended to only include very loose and generic classes which can be used to make a variety of tasks easier.
</p>

<p>The base itself uses a State machine to allow code to be separated and allow operations to inherit from each other.</p>
{% endblock %}
