{% extends "base/content.html" %}

{% block short %}
A blog following the development of my studies and website design in Web Development
{% endblock %}

{% block description %}
<h2>University web development blog</h2>

<p><a class="block" href="http://itsuite.it.brighton.ac.uk/js1391/mysite/">View site</a>
<a class="block" href="https://github.com/JacobShirley95/university-webdev-blog">GitHub</a></p>

<p>A blog following the development of my studies and website design in Web Development at the University of Brighton.</p>
<p>All the HTML and CSS is HTML5/CSS3 compliant, as required by the university course specification.</p>
{% endblock %}
