{% extends "base/content.html" %}

{% block short %}
This application is a scriptable web-framework that allows programmatic access to a loaded web page,
allowing anyone to read data from the page, communicate via JavaScript, along with many other features.
{% endblock %}

{% block class %} java {% endblock %}

{% block title %}Java Web Automator{% endblock %}

{% block about %}
<p>
    <a class="block java-hover" href="https://github.com/JacobShirley95/web-automator">Github</a>
</p>

<h2>What it is</h2>
<p>This application is a scriptable web-framework that allows programmatic access to a loaded web page,
    allowing anyone to read data from the page, communicate via JavaScript, along with many other features.
    It is powered by <a href="https://www.teamdev.com/jxbrowser">jxBrowser</a>.</p>
<h2>Features</h2>
<ul>
  <li>A virtual mouse to simulation mouse events in the page.</li>
  <li>A tab menu to allow multiple pages to be loaded at once.</li>
  <li>A scriptable API to make finding elements easier.</li>
  <li>All the features of jxBrowser.</li>
  <li>Extensible GUI framework.</li>
</ul>

{% endblock %}
