{% if not api %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jacob Shirley {% block ext_title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans|Poppins:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/styles.css">

    <!--[if lt IE 9]>
    	<script src="node_modules/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="assets/js/script.js"></script>
</head>

<body>
    {% include "parts/nav.html" %}

    <main class="{{ block('class') }} light-text">
{% endif %}
        {% block main %}{% endblock %}
{% if not api %}
        {% include "parts/footer.html" with {class: block('class')} %}
    </main>

    {% include "parts/livereload.html" %}
</body>

</html>
{% endif %}
