html, body {
    margin: 0;
    padding: 0;
    background: white;
    height: 100%;
}

img, video {
    max-width: 100%;
    height: auto;
}

.white-text {
    color: white!important;
}

.light-text {
    color: rgba(255, 255, 255, .85);
}

.dark-text {
    color: #1f1f1f;
}

.dark-light {
    background: #1d1d1d;
}

.light {
    background: white;
}

.grey {
    background: #eaeaea;
    color: #1f1f1f;
}

.dark, .dark-fill:hover {
    background: #1f1f1f;
}

.js, .js-fill:hover {
    background: #6867A3;
}

.js-hover:hover, .js-hover.selected {
    color: #6867A3!important;
}

.java, .java-fill:hover{
    background: #CC3366;
}

.java-hover:hover, .java-hover.selected {
    color: #CC3366!important;
}

.c, .c-fill:hover {
    background: #339ca7;
}

.c-hover:hover, .c-hover.selected {
    color:#339ca7!important;
}

.html-css, .html-css-fill:hover {
    background: #ca4231;
}

.html-css-hover:hover, .html-css-hover.selected {
    color: #ca4231!important;
}

a {
    text-decoration: none;
}

a.hidden {
    display: none!important;
}

a.block {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    margin: 0.1em 10px;
    padding: 7px 25px;
    color: #1f1f1f;
    border: 4px solid #1f1f1f;
    transition: background 0.2s, color 0.2s;
}

.shadow {
    -webkit-box-shadow: 0px 5px 31px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 31px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 31px -2px rgba(0,0,0,0.75);
}

.nav-strip {
    position: fixed;
    top: 0;
    z-index: 9;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 2.5em;
    background: rgba(255, 255, 255, 0);
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

.scrollbar {
    position: relative;
    display: block;
}

.scrollbar-mode {
    overflow-x: auto; /* For mobiles only */
}

.nav-strip .container {
    position:relative;
    display: inline-block;
    z-index: 2;
    height: auto;
    pointer-events: all;
}

.nav-strip .container>a, .nav-strip .container>span {
    position: relative;
    display: inline-block;
    min-width: 60px;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}

.nav-strip a {
    color: inherit;
    text-decoration: none;
}

.nav-strip .container>span:hover .submenu {
    display: block;
}

.hidden {
    display: none;
}

.submenu {
    position: absolute;
    font-size: 0.9em;
    color: white;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 30px;
    z-index: -1;
    box-sizing: border-box;
}

.nav-strip .container *:nth-child(2) .submenu {
    left: 0%;
    transform: translateX(0%);
}

.nav-strip .container *:last-child .submenu {
    left: 100%;
    transform: translateX(-100%);
}

.submenu ul {
    line-height: 10px;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.submenu ul li {
    display: block;
    padding: 20px 0px;
}

.submenu ul li:not(:last-child)::after {
    padding: 0 0px;
}

.submenu ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.2s;
}

.submenu ul li a:hover {
    color: #cccccc;
}

footer {
    font-size: 0.8em;
    text-align: center;
}

footer p {
    display: inline-block;
    padding: 10px 0;
    margin: 0;
}

main {
    position: absolute; /* Fix for some versions of IE */
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    z-index: 0;
    box-sizing: border-box;
}

article {
    background: inherit; /* Fix for some versions of IE */
    box-sizing: border-box;
    width: 100%;
    padding: 0px 0% 70px 0;
    text-align: justify;
    font-size: 1.4em;
    min-height: calc(100% - 2em);
}

article>*:not(.image-panel):not(.underlined):not(.no-margins) {
    margin-left: 18%;
    margin-right: 18%;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
    color: white;
    box-sizing: border-box;
}

article h1 {
    margin: 0;
    padding: 0.83em 0;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    position: relative;
    width: 100%;
    height: 20%;
    text-align: center;
}

article div:first-child {
    padding-top: 70px;
}

article div.underlined {
    border-bottom: 4px solid #1f1f1f;
}

article div.dark {
    background: rgba(0, 0, 0, 0.2);
}

article div.js {
    background: inherit;
    border-bottom: 4px solid #6867A3;
}

article h2 {
    font-family: 'Poppins', sans-serif;
    #text-align: center;
    font-size: 1.5em;
}

article p.buttons {
    width: 100%;
}

article a.block {
    display: inline-block;
    background: #1f1f1f;
    font-weight: bold;
    color: white;
    border: none;
    margin: 0 auto;
}

.image-panel {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin: 0;
    left: 0px;
    clear: both;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.image-panel.medium img {
    width: 40%;
}

.image-panel.medium .text {
    width: 58%;
}

.image-panel .text {
    box-sizing: border-box;
    padding: 0 30px;
    font-style: italic;
}

.image-panel .text p {
    padding: 0;
}

.image-panel .text p:first-child {
    margin-top: 0;
}

.image-panel .text p:last-child {
    margin-bottom: 0;
}

article .left {
    float: left;
    margin-right: 0.83em!important;
    margin-top: 0.83em;
}

article .right {
    float: right;
    margin-left: 0.83em!important;
    margin-top: 0.83em;
}

.image-panel .text {
    vertical-align: top;
    display: inline-block;
    font-size: 0.8em;
    position: relative;
    margin: auto 0;
    #top: 50%;
    #transform: translate(0%, -50%);
}

.carousel {
    margin: auto!important;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 30px 18%;
}

.carousel>* {
    display: inline-block;
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel .info {
    vertical-align: top;
    display: inline-block;
}

.carousel>* {
    #position: relative;
    #top: 50%;
    #left: 50%;
    #transform: translate(-50%, -50%);
    margin: auto;

}

.carousel>*:not(:first-child) {

    display: none;
    margin: auto auto;
    text-align: center;

}

div[about] {
    position: relative;
    left: 0%;
    width: 100%;
    background: #eaeaea;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
    padding: 160px 0 70px 0;
    box-sizing: border-box;
}

div[about] div[me] {
    width: 70%;
    padding-left: 7%;
    display: inline-block;
    box-sizing: border-box;
}

div[about] div[me] h1 {
    margin-top: 0;
    margin-bottom: 0px;
    padding-top: 0%;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

div[about] div[me] h2 {
    display: inline-block;
    margin: 0;
    padding: 0.4em 0.1em;
    font-size: 0.7em;
}

div[about] div[links] {
    display: inline-block;
    float: right;
    padding-top: 1em;
    padding-right: 3%;
    width: 20%;
}

div[about] div[links] a.block {
    float: right;
    min-width: 100%;

    display: block;
    padding: 5px 20px;
    font-size: 0.9em;
}

div[about] div[links] a.block:hover {
    color: white !important;
}


div[about] div[links] a.email {
    font-size: 0.6em;
}

div[wrapper] {
    padding: 30px 0;
}

div[center] {
    margin: 0 auto;
    width: 80%;
    font-size: 1.75em;
    padding: 20px;
}

div[portfolio] {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

div[list] {
    width: 50%;
    height: 50%;
    text-align: right;
    border-right: 3px solid #eaeaea;
}

div[list] div[title] {
    padding-right: 60px;
}

div[list] div[title] a {
    font-size: 0.75em;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    transition: font-size 0.4s, color 0.5s;
}

div[list] div[title] a:hover, a.selected {
    color: inherit;
    font-size: 1em!important;
}

div[list] div[title]:hover div[desc], div[desc].selected {
    left: 50%;
    transition-delay: 0.3s;
}

div[desc] {
    position: absolute;
    left: 100%;
    top: 0;
    width: 50%;
    height: 100%;
    text-align: left;
    box-sizing: border-box;
    padding-left: 60px;
    font-size: 0.7em;
    transition: left 0.3s;
}

div[desc] p {
    margin: 0;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    max-height: 100%;
    overflow: auto;
}

@media only screen and (max-width: 1000px) {
    main article {
        font-size: 1.2em;
    }

    div[about] {
        padding-top: 100px;
        padding-bottom: 20px;
    }

    div[about] div[me] {
        width: 100%;
        padding-right: 7%;
    }

    div[links] {
        padding-top: 0.6em!important;
        width: 100%!important;
        position: relative!important;
        float: none!important;
        overflow: auto;
        top: auto!important;
        left: 0!important;
        box-sizing: border-box;
        padding-left: 7%;
        padding-right: 7%;
    }

    div[links] a.block {
        float: none!important;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }

    div[list] {
        width: 100%;
        text-align: center;
        border-right: none;
    }

    div[title] {
        padding-right: 0!important;
    }

    div[title] a.selected {
        font-size: 0.9!important;
    }

    div[desc] {
        display: none;
    }

    .nav-strip {
        font-size: 1em;
    }

    main article {
        #padding: 1em;
        text-align: left!important;
    }

    .carousel {
        padding: 30px;
    }

    article>*:not(.image-panel):not(.underlined):not(.no-margins) {
        margin-left: 20px;
        margin-right: 20px;
    }

    article video.right, article video.left {
        float: initial;
        margin-left: 0!important;
        margin-right: 0!important;
        padding: 0 20px;
        box-sizing: border-box;
        margin-top: 0.83em;
    }
}

@media only screen and (max-width: 655px) {

    main article {
        font-size: 1em;
    }

    main article h1 {
        word-break: break-word;
    }

    /*article h1 {
        font-size: 1.3em;
    }

    article h2 {
        font-size: 1.3em;
    }*/

    main article a.block {
        width: 100%;
        margin-bottom: 5px;
    }

    .image-panel {
        #float:left;
        flex-direction: column;
        padding: 20px;
    }

    .image-panel.medium>* {
        width: 100%!important;
        padding: 0;
    }

    .image-panel.medium>.text {
        padding-top: 20px;
    }

    .image-panel>* {
        display: block!important;
    }

    .image-panel>img {
        order: -1;
    }

    .carousel {
        padding: 10px;
    }

    footer {
        font-size: 0.6em;
    }

    .email {
        font-size: 0.4em!important;
    }
}
