<div class="nav-strip">
    <!--<a jacob href="index">jacob</a>-->
    <ul>
        <li class="dark"><a href="index">About</a></li><li class="js" data-menu="js">JavaScript
            <div id="js" class="js submenu hidden">
                <ul>
                    <li><a href="js-game-engine">js-game-engine</a></li>
                    <li><a href="ecollision">ecollision</a></li>
                </ul>
            </div>
        </li><li class="java" data-menu="#java">Java
            <div id="java" class="java submenu hidden">
                <ul>
                    <li><a href="web-automator">web-automator</a></li>
                    <li>uni-stuff</li>
                </ul>
            </div>
        </li><li class="c" data-menu="#c">C
            <div id="c" class="c submenu hidden">
                <ul>
                    <li>arduino-traffic-lights</li>
                </ul>
            </div>
        </li><li class="html-css" data-menu="#html-css">HTML/CSS
            <div id="html-css" class="html-css submenu hidden">
                <ul>
                    <li><a href="christinashirley">christinashirley</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
