<nav class="nav-strip">
    <span class="scrollbar">
        <span class="container shadow">
        <!--<a jacob href="index">jacob</a>-->
            <a class="dark" href="index">About</a><span class="js" data-menu="js">JavaScript
                <div id="js" class="js submenu hidden shadow">
                    <ul>
                        <li><a href="js-game-engine">js-game-engine</a></li>
                        <li><a href="ecollision">ecollision</a></li>
                    </ul>
                </div>
            </span><span class="java" data-menu="#java">Java
                <div id="java" class="java submenu hidden shadow">
                    <ul>
                        <li><a href="web-automator">web-automator</a></li>
                        <li><a href="pb-script-base">powerbot-script-base</a></li>
                    </ul>
                </div>
            </span><span class="c" data-menu="#c">C
                <div id="c" class="c submenu hidden shadow">
                    <ul>
                        <li><a href="arduino-traffic-lights">arduino-traffic-lights</a></li>
                    </ul>
                </div>
            </span><span class="html-css" data-menu="#html-css">HTML/CSS
                <div id="html-css" class="html-css submenu hidden shadow">
                    <ul>
                        <li><a href="christina-shirley">christina-shirley</a></li>
                        <li><a href="university-webdev-blog">university-webdev-blog</a></li>
                    </ul>
                </div>
            </span>
        </span>
    </span>
</nav>
